@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    padding: 0px 40px;
}
 nav{
     border: 2px solid black;
     background: #cecece;

 }

 a{
     text-decoration: none;
     color: #444;
 }

 nav ul{
     /* border: 2px solid green; */
     list-style: none;
     text-align: center;
     
 }

 ul li{
    border-bottom: 1px solid #444;
    display: inline-block;
    text-transform: uppercase;
    /* text-size-adjust: 20px; */
    margin: 0px 10px;
    padding: 5px;
    font-size: 20px;
 }

 h3{
     border-bottom: 1px solid #444;
 }